<HTML>
  <head>
    <title>Flats</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    table {
        border-spacing: 0;
        border: 1px solid #ddd;
     }

    th {
        cursor: pointer;
     }

    th, td {
        text-align: left;
        padding: 16px;
     }

    tr:nth-child(even) {
        background-color: #f2f2f2
     }
    </style>
  </head>
  <body>
    <script>
      function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc"; 
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
          //start by saying: no switching is done:
          switching = false;
          rows = table.getElementsByTagName("TR");
          /*Loop through all table rows (except the
          first, which contains table headers):*/
          for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            /*Get the two elements you want to compare,
            one from current row and one from the next:*/
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /*check if the two rows should switch place,
            based on the direction, asc or desc:*/
            if (dir == "asc") {
              if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch= true;
                break;
               }
             } else if (dir == "desc") {
              if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch= true;
                break;
               }
             }
           }
          if (shouldSwitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            //Each time a switch is done, increase this count by 1:
            switchcount ++;      
           } else {
            /*If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again.*/
            if (switchcount == 0 && dir == "asc") {
              dir = "desc";
              switching = true;
             }
           }
         }
       }
    </script>
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Активные квартиры</a></li>
        <li><a data-toggle="tab" href="#menu1">Проданные квартиры</a></li>
      </ul>
      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <h2> Активные квартиры:</h2>
          <table border=1  id="myTable">
            <tr>
              <th onclick="sortTable(0)">#</th>
              <th onclick="sortTable(1)">код</th>
              <th onclick="sortTable(2)">адрес</th>
              <th onclick="sortTable(3)">цена</th> $
              <th onclick="sortTable(4)">комнат</th>
              <th onclick="sortTable(5)">год постройки</th>
              <% days.each_with_index do |day,index|%>
              <th onclick="sortTable(<%= index + 6 %>)"> <%= day %></th> <% end %>
            </tr> <% active_flats.each_pair do |code, info| %>
            <tr>
              <td><%= info['index'] %>
              <td><%= code %>
              <td><a href='https://www.t-s.by/buy/flats/<%= code %>/'><%= info['address'] %></a>
              <td><%= info['price'] %>$
              <td><%= info['rooms'] %>
              <td><%= info['year'] %>
              <% info['price_changes'].each do |day| %>
              <td><%= day %>
              <% end %>
            <% end %>
          </table>
          </div>
          <div id="menu1" class="tab-pane fade">
          <h2> Проданные квартиры:</h2>
          <table border=1>
            <tr>
              <th >код</th>
              <th >адрес</th>
              <th >комнат</th>
              <th >год постройки</th>
              <th >цена нач.</th> $
              <th >выставлена на продажу</th> $
              <th >цена кон.</th> $
              <th >куплена</th> $
            </tr> <% sold_flats.each_pair do |code, sold_info| %>
            <tr>
              <td><%= code %>
              <td><a href='https://www.t-s.by/buy/flats/<%= code %>/'><%= sold_info['address'] %></a>
              <td><%= sold_info['rooms'] %>
              <td><%= sold_info['year'] %>
              <td><%= sold_info['selling_start_price'] %>$
              <td><%= sold_info['selling_start_date'] %>$
              <td><%= sold_info['selling_end_price'] %>$
              <td><%= sold_info['selling_end_date'] %>$
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
